<div class="main top-main"> 
    <div class="top-message">
        <h2>ABOUT</h2>
        <p>Add new page </p> 
    </div> 
</div>

<header>
  <div class="header-logo">
    TweetApp
  </div>
  <ul class="header-menus">
    <li>About Test App</li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>Header</h2>
    <p>Content</p>
  </div>
</div>